*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;
}

body{
background:linear-gradient(135deg,#ff6fa5,#ff9fc7,#ffd8ea);
overflow-x:hidden;
color:white;
text-align:center;
min-height:100vh;
}

#login{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.login-box{
background:rgba(255,255,255,.15);
backdrop-filter:blur(10px);
padding:40px;
border-radius:25px;
width:90%;
max-width:420px;
box-shadow:0 0 30px rgba(0,0,0,.3);
}

.login-box h1{
font-size:36px;
margin-bottom:15px;
}

.subtitle{
margin-bottom:25px;
font-size:18px;
}

input{
width:100%;
padding:15px;
border:none;
border-radius:12px;
font-size:18px;
margin-bottom:15px;
}

button{
padding:14px 28px;
border:none;
border-radius:12px;
background:#ff2f73;
color:white;
font-size:18px;
cursor:pointer;
transition:.3s;
}

button:hover{
transform:scale(1.05);
background:#ff0d5e;
}

#erro{
margin-top:12px;
color:#fff7a8;
font-weight:bold;
}

#site{
display:none;
padding:30px;
animation:fade .8s;
}

@keyframes fade{
from{
opacity:0;
transform:translateY(20px);
}
to{
opacity:1;
transform:translateY(0);
}
}

header h1{
font-size:45px;
margin-bottom:10px;
}

header p{
font-size:20px;
margin-bottom:30px;
}

.contador{
background:rgba(255,255,255,.18);
padding:25px;
border-radius:20px;
margin-bottom:35px;
}

#contador{
font-size:30px;
font-weight:bold;
margin-top:20px;
}

.fotos{
margin-top:20px;
}

.galeria{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:15px;
margin-top:20px;
}

.galeria img{
width:220px;
height:300px;
object-fit:cover;
border-radius:18px;
box-shadow:0 0 20px rgba(0,0,0,.3);
transition:.3s;
}

.galeria img:hover{
transform:scale(1.05);
}

.carta{
margin:40px auto;
max-width:800px;
}

.envelope{
background:white;
color:#444;
padding:30px;
border-radius:20px;
box-shadow:0 0 25px rgba(0,0,0,.3);
}

.envelope h2{
color:#ff2f73;
margin-bottom:20px;
}

.envelope p{
line-height:1.
